<div class="mat-display-3"> Grid </div>
<mat-grid-list cols="2">
    <mat-grid-tile> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

<mat-divider> </mat-divider>
<p class="mat-display-1"> with rowspan </p>
<mat-grid-list cols="2">
    <mat-grid-tile rowspan="2"> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

<mat-divider> </mat-divider>
<p class="mat-display-1"> with colspan </p>
<mat-grid-list cols="2">
    <mat-grid-tile colspan="2"> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

by default height of a row is equal to width of a coloumn. we can override this with rowhHight attribute
<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

another option to give height is to give height in ratio with respect to colum width. ie width:height ratio
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

third option to give height is based on the container. 
<mat-grid-list cols="2" rowHeight="fit" style="height: 200px;">
    <mat-grid-tile> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>

gutterSize: spacing between tiles
<mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px">
    <mat-grid-tile> tile 1 </mat-grid-tile>
    <mat-grid-tile> tile 2 </mat-grid-tile>
    <mat-grid-tile> tile 3 </mat-grid-tile>
    <mat-grid-tile> tile 4 </mat-grid-tile>
</mat-grid-list>
