
<div class="mat-display-3"> Material Toolbar </div>
<!-- Basic Toolbar -->
<mat-toolbar>
  <span> Basic Toolbar </span>
</mat-toolbar>

<!-- colors for toolbar -->
<mat-toolbar color="primary">
  <span> Basic Toolbar </span>
</mat-toolbar>
<mat-toolbar color="accent">
  <span> Basic Toolbar </span>
</mat-toolbar>
<mat-toolbar color="warn">
  <span> Basic Toolbar </span>
</mat-toolbar>

<p> Navigation bar </p>
<!-- changing basic toolbar to navbar -->
<mat-toolbar color="accent" class="navbar">
  <div> Main link</div>
  <div>
    <span> Home </span>
    <span> About </span>
    <span> Services </span>
  </div>
</mat-toolbar>