<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" (opened)="log('opened')" (closed)="log('closed')" [(opened)]="opened">
    <button mat-mini-fab (click)="sideNav.close()">
      <mat-icon> close </mat-icon>
    </button>
    <div routerLink="buttons"> Buttons </div>
    <div routerLink="typography"> Typography </div>
    <div routerLink="togglebutton"> Toggle button </div>
    <div routerLink="icons"> Icons </div>
    <div routerLink="badges"> Badges </div>
    <div routerLink="spinner"> Progress Spinner </div>
    <div routerLink="toolbar"> Material Toolbar </div>
    <div routerLink="sidebar"> Sidebar navigation </div>
    <div routerLink="menu"> Menu </div>
    <div routerLink="list"> List </div>
    <div routerLink="grid"> Grid </div>
    <div routerLink="expansion-panel"> Expansion Panel </div>
    <div routerLink="card"> Card </div>
    <div routerLink="tabs"> Tabs </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button *ngIf="!opened" mat-fab (click)="sideNav.open()">
      <mat-icon> menu_open </mat-icon>
    </button>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>