mat-sidenav-container {
  height: 100%;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: #f75381;
  color: white;
  width: 200px;
}
mat-sidenav div {
  margin-top: 15px;
  border: none;
  cursor: pointer;
}
