<div class="mat-display-3"> Sidebar navigation </div>

<!-- <div class="mat-display-3"> Sidebar </div>
<mat-sidenav-container> 
  <mat-sidenav [(opened)]="opened"> Sidenav </mat-sidenav>
  <mat-sidenav-content> Main 
    <button (click)="opened=!opened"> Toggle Opened </button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <p>  different modes that can be applied to Sidebar </p>  -->
<!-- default mode is over -->
<!-- <mat-sidenav-container> 
  <mat-sidenav mode="over" [(opened)]="opened"> Sidenav </mat-sidenav>
  <mat-sidenav-content> Main 
    <button (click)="opened=!opened"> Toggle Opened </button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- push mode -->
<!-- <mat-sidenav-container> 
  <mat-sidenav mode="push" [(opened)]="opened"> Sidenav </mat-sidenav>
  <mat-sidenav-content> Main 
    <button (click)="opened=!opened"> Toggle Opened </button>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- side mode -->
<!-- <mat-sidenav-container> 
  <mat-sidenav mode="side" [(opened)]="opened"> Sidenav </mat-sidenav>
  <mat-sidenav-content> Main 
    <button (click)="opened=!opened"> Toggle Opened </button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" (opened)="log('opened')" (closed)="log('closed')" [(opened)]="opened"> Sidenav
    </mat-sidenav>
    <mat-sidenav-content> Main
        <button (click)="sideNav.open()"> Open </button> <!-- another method to open and close sideNav -->
        <button (click)="sideNav.close()"> Close </button> <!-- another method to open and close sideNav -->
        <button (click)="sideNav.toggle()"> Toggle </button>
        <!-- open and close sidebar using toggle method. method used in hamburgers icon -->
    </mat-sidenav-content>
</mat-sidenav-container>